.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  overflow: hidden;
}

.glightbox-container.inactive {
  display: none;
}

.glightbox-container .gcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.glightbox-container .gslider {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glightbox-container .gslide {
  width: 100%;
  position: absolute;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

.glightbox-container .gslide.current {
  opacity: 1;
  z-index: 99999;
  position: relative;
}

.glightbox-container .gslide.prev {
  opacity: 1;
  z-index: 9999;
}

.glightbox-container .gslide-inner-content {
  width: 100%;
}

.glightbox-container .ginner-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.glightbox-container .ginner-container.gvideo-container {
  width: 100%;
}

.glightbox-container .ginner-container.desc-bottom,
        .glightbox-container .ginner-container.desc-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.glightbox-container .ginner-container.desc-left,
        .glightbox-container .ginner-container.desc-right {
  max-width: 100% !important;
}

.gslide iframe,
    .gslide video {
  outline: none !important;
  border: none;
  min-height: 165px;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: auto;
  touch-action: auto;
}

.gslide:not(.current) {
  pointer-events: none;
}

.gslide-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gslide-image img {
  max-height: 100vh;
  display: block;
  padding: 0;
  float: none;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100vw;
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-touch-action: none;
  touch-action: none;
  margin: auto;
  min-width: 200px;
}

.desc-top .gslide-image img,
        .desc-bottom .gslide-image img {
  width: auto;
}

.desc-left .gslide-image img,
        .desc-right .gslide-image img {
  width: auto;
  max-width: 100%;
}

.gslide-image img.zoomable {
  position: relative;
}

.gslide-image img.dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  -webkit-transition: none;
  transition: none;
}

.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100% !important;
}

.gslide-video .gvideo-wrapper {
  width: 100%;
        /* max-width: 160vmin; */
  margin: auto;
}

.gslide-video::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.34);
  display: none;
}

.gslide-video.playing::before {
  display: none;
}

.gslide-video.fullscreen {
  max-width: 100% !important;
  min-width: 100%;
  height: 75vh;
}

.gslide-video.fullscreen video {
  max-width: 100% !important;
  width: 100% !important;
}

.gslide-inline {
  background: #fff;
  text-align: left;
  max-height: calc(100vh - 40px);
  overflow: auto;
  max-width: 100%;
}

.gslide-inline .ginlined-content {
  padding: 20px;
  width: 100%;
}

.gslide-inline .dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  -webkit-transition: none;
  transition: none;
}

.ginlined-content {
  overflow: auto;
  display: block !important;
  opacity: 1;
}

.gslide-external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 100%;
  background: #fff;
  padding: 0;
  overflow: auto;
  max-height: 75vh;
  height: 100%;
}

.gslide-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.zoomed .gslide-media {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.desc-top .gslide-media,
    .desc-bottom .gslide-media {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gslide-description {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.gslide-description.description-left,
    .gslide-description.description-right {
  max-width: 100%;
}

.gslide-description.description-bottom,
    .gslide-description.description-top {
  margin: 0 auto;
  width: 100%;
}

.gslide-description p {
  margin-bottom: 12px;
}

.gslide-description p:last-child {
  margin-bottom: 0;
}

.zoomed .gslide-description {
  display: none;
}

.glightbox-button-hidden {
  display: none;
}


/*
 * Description for mobiles
 * something like facebook does the description
 * for the photos
*/

.glightbox-mobile .glightbox-container .gslide-description {
  height: auto !important;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: 0;
  padding: 19px 11px;
  max-width: 100vw !important;
  -webkit-box-ordinal-group: 3 !important;
  -ms-flex-order: 2 !important;
  order: 2 !important;
  max-height: 78vh;
  overflow: auto !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  padding-bottom: 50px;
}

.glightbox-mobile .glightbox-container .gslide-title {
  color: #fff;
  font-size: 1em;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #a1a1a1;
}

.glightbox-mobile .glightbox-container .gslide-desc a {
  color: #fff;
  font-weight: bold;
}

.glightbox-mobile .glightbox-container .gslide-desc * {
  color: inherit;
}

.glightbox-mobile .glightbox-container .gslide-desc string {
  color: #fff;
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #fff;
  opacity: 0.4;
}

.gdesc-open .gslide-media {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0.4;
}

.gdesc-open .gdesc-inner {
  padding-bottom: 30px;
}

.gdesc-closed .gslide-media {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.greset {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gabsolute {
  position: absolute;
}

.grelative {
  position: relative;
}

.glightbox-desc {
  display: none !important;
}

.glightbox-open {
  overflow: hidden;
}

.gloader {
  height: 25px;
  width: 25px;
  -webkit-animation: lightboxLoader 0.8s infinite linear;
  animation: lightboxLoader 0.8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
}

.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: #000;
  will-change: opacity;
}

.glightbox-mobile .goverlay {
  background: #000;
}

.gprev,
.gnext,
.gclose {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gprev svg,
.gnext svg,
.gclose svg {
  display: block;
  width: 25px;
  height: auto;
  margin: 0;
  padding: 0;
}

.gprev.disabled,
.gnext.disabled,
.gclose.disabled {
  opacity: 0.1;
}

.gprev .garrow,
.gnext .garrow,
.gclose .garrow {
  stroke: #fff;
}

.gbtn.focused {
  outline: 2px solid #0f3d81;
}

iframe.wait-autoplay {
  opacity: 0;
}

.glightbox-closing .gnext,
    .glightbox-closing .gprev,
    .glightbox-closing .gclose {
  opacity: 0 !important;
}


/*Skin */

.glightbox-clean .gslide-description {
  background: #fff;
}

.glightbox-clean .gdesc-inner {
  padding: 22px 20px;
}

.glightbox-clean .gslide-title {
  font-size: 1em;
  font-weight: normal;
  font-family: arial;
  color: #000;
  margin-bottom: 19px;
  line-height: 1.4em;
}

.glightbox-clean .gslide-desc {
  font-size: 0.86em;
  margin-bottom: 0;
  font-family: arial;
  line-height: 1.4em;
}

.glightbox-clean .gslide-video {
  background: #000;
}

.glightbox-clean .gprev,
    .glightbox-clean .gnext,
    .glightbox-clean .gclose {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.glightbox-clean .gprev path,
.glightbox-clean .gnext path,
.glightbox-clean .gclose path {
  fill: #fff;
}

.glightbox-clean .gprev {
  position: absolute;
  top: -100%;
  left: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gnext {
  position: absolute;
  top: -100%;
  right: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gclose {
  width: 35px;
  height: 35px;
  top: 15px;
  right: 10px;
  position: absolute;
}

.glightbox-clean .gclose svg {
  width: 18px;
  height: auto;
}

.glightbox-clean .gclose:hover {
  opacity: 1;
}


/*CSS Animations*/

.gfadeIn {
  -webkit-animation: gfadeIn 0.5s ease;
  animation: gfadeIn 0.5s ease;
}

.gfadeOut {
  -webkit-animation: gfadeOut 0.5s ease;
  animation: gfadeOut 0.5s ease;
}

.gslideOutLeft {
  -webkit-animation: gslideOutLeft 0.3s ease;
  animation: gslideOutLeft 0.3s ease;
}

.gslideInLeft {
  -webkit-animation: gslideInLeft 0.3s ease;
  animation: gslideInLeft 0.3s ease;
}

.gslideOutRight {
  -webkit-animation: gslideOutRight 0.3s ease;
  animation: gslideOutRight 0.3s ease;
}

.gslideInRight {
  -webkit-animation: gslideInRight 0.3s ease;
  animation: gslideInRight 0.3s ease;
}

.gzoomIn {
  -webkit-animation: gzoomIn 0.5s ease;
  animation: gzoomIn 0.5s ease;
}

.gzoomOut {
  -webkit-animation: gzoomOut 0.5s ease;
  animation: gzoomOut 0.5s ease;
}

@-webkit-keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transfgrm:%tÚalslate3d(, 0, 0i;N    opacity:!1;  }}
@keqvsames`g3lideAnL%.p {  fvoo!{*† ! n8!si4y:@0;
    -wejki|'ran2fr] tr·os,·te3‰(-6 e, 0<$0m
  0Ùransfk2M8 translete3f-6#7, 0Ï 0);* ¶
# to y
    visibilkÙy; viwible9$  0?wer{kt-trivsbmrm: ÙbafÛlcde3d(0, 0,(0+;
  1$dr·nsÊorir transladm3D(", 0Ï` );J b  otaciTih 1;
  }}

@-webkiuÌku8framdq&gcliddOqtÃeÊ|{
  from%{  †doxa'id: 1ª
 #  ˜iqÌbimit1: v`sYfle;  ® ¨weB+i|trcÓfosÌ: tbansnavÂ#Ï 0,0&"p)˚
 † $traksf.rm: 4raNslate≥d80, 0,≤8)?ä*!y†"tÔ†y    -w%jkip≠tvaj{nori: tr·nc¨aPd2$®,60%, 4º!t©3
 !!`wransfosm: Ùpq.sde|e≥d)-64%,†2,$8)
`a  opacipq:00;
"(  ˆiribimhty HiDdeNz  }}

@kayvrales Gw¸i`eOwÙLuft {
  $roe {
  ! op!city3 1; "($0visibil‰y**4isi¢leª
$ (†-seckh$-vBQnsform: TrcnsÏyre3d)0, 1† )9
  0 tvalSform9 tvsnÛjate2d(0,`` 0);
  |
®†uk0{
!(  -geb´it-tsamw&oqm∫ tralÛhade≥D(-605, 0, 0)
    trsnsfor} ‘ransl!te1D(-30%, 0, 0);   "opacitq2 0?ä    vksicilyty2 xÈddeo;
 }
]

¿-we`cyT≠keyFraoeC0gwlhdeAoR)Ght"˚  from {
    /pechpy: 0{C , 0vigmbih)t{> vhsibda;
  "†/wa"kiv-Ùb`nsfo3}:†tra.sLite3C(v0e, 8>`0)
   (trafsvopm80tr nsavU3d,∂0•, 8-(∞):J  |
` to k  ! /wgÍÍ+v-dr!Ósform: traÓ3lata;d(0, 0d 0);
 Ä4"tra~s&orl: trcnsgtÂ#d)0 2l 0);
∞(  fp·cipy:†1;ä  mΩ

akeybrame€ &sli`eCnRiÁht kö` Êroo 
†   opacqÙ{: 09
    vish ymkty* vismblu; $  -w·fkap tZa~svorm;`tsan{lAtu3f»63%, 0, 0)ª
 ! `tr@ÓsÊorm:®ıbAnglate3d(20%- 0.  ):ä  }
` tm {
0$†≠abkitètran{gorm*ÄTv!nshpda3D,0 ∞( 0);$0 $4Rav˚form2 4panqdAte3di0, ∂, p)
  !"oq·cIty; 1+
0 |
}ä(A-we‚kY`mceyfpales osny‰eOUDRmg(t`;
  fbol∞y:  8 opaci‘y; ;ä2 "!rick‚Ilmty: vys!blÂ{
   `)wejgh-ts`nSvor}< tRan3natu3f(0,00, 0(;ä(‡  t‚ajsfopm: trans}ade3d(0, 0$ ();
  ˝
  to$r
  † -we#imu-p≤a.sfkrm6 tranwlate3D(64!,$0, 0!;
   tRÒÊcfgÍ}8 tvansm‡|%3d(60%, ® 0); "  op¢city 0;ä  }*}b
AcmynraleS gslidgOTtRight0{
 †&rom :jÅ&  n`acmty:†q;
(   vms)"i|it{* vi3·ble;
 !  -webkkt=traÓsf{b}:`tralrmatdD(p, ∞l†0-;
 ! jtransform:(uransLÒte3dh∞,0@h 0);
†`˝¢!po {ö!  Ä-wmbkmt%vvanqdorm2 tpgnwlate3$(v2-, 0, p©;(<` transforÌ8 4vans,aed3d(60%h0, 0i;†   opacity: 0;  |
|

@-webKitkeyf3QÌeg†Á˙ÎomMn [
  from ˚
    o0aCorq: 0;: ( (/sebid-tRaÓsÊri:"rgqhesd(0Æ3, 2.3, 2.3);
 0 †tsansfovm csala3d(0.2,0.3, 0.;+;
  ˝ã† |o 
  ` osacyu]:$1;  }
›
  ciyframas Á{oomIl y! gr/m a
 ` ‡/p·cÈti: 0?ö    -qe"kiv-tzansfÔÚm: {aalesD(0.;¨ 0.3.†0.1©;J † †uRaksf/ri: qcc,e3d8†.#, p.3(  -3); ‡}
  u {
` $ opaciu} ±;* !y

‡-wmB{yp-key~riOes crom^uv yä `from zJ&   oxacypy:1;
  y
  50% s: (  orcaht{: 0;
 $0 -webkiT-transform w#ade3e(0.:, 0&#%!0,3);ä  &`tpcfs&nrl: scalÂ$(0n3. 0.3, 0.3+;
! 
` to k    pcaivy: 0?
0 ˝=
@ieyg`eleÛ 'zOgm_u4 {
® gb/m†{
    ~racit}8 3
` }
  5p' {
 0" oqqcqdy: a+
   0-wejKitmtr‡Ósform: Ss·le0d(0.3, 0.3,®4.3π9 `` tRa˛s'o2m: sgatEd-∞.3, 0,3$ 0.3%9
  m
  tÔ({    oracit{:!0;
 0}}

@œE`hE (min-wid`(: 7¥9xx! {ä !&gliohtbo¯/aon4ainer(>gij|drkGntaNur y
    wgdth+ qutm{
  †leighD* aUtk;
 °! -webkit%nox7zi%n|:†ho2izkntal;
!   m7eb+iv-ckx)Dizecp)nj ~ormal;0   -ls,flax-dIractioo: row;
  4 flex=eirection: ros;``_
  .gli#htr?p5cmnt±iner +g{.jdrmcontqIngr>Desg-tÎp`.gslide-dqscriptaGv({
    )wec)it/boz-obvq~at=Grotp:Ä1y
   !mmw-dL%x-orderx†1/
    or‰gr; 0;J!`}
† .flight"oX/kOjtaÈner >Áanner-Coota`nerÆdsg-do` ,wshide-ima'e,
   " 8$ 0 %  `  .gl)ghpbo|-gonvaijer .ginldvmolvamner.dgsc-top ,gsfile-imege amg!{
   `-wefk(Ù-jox-R&xna|-GrÔ5pz"23 $ !-ms%&leH-ordEr: ; !  nrder: 1;
  }
†0.ghIghtbÁx-c/ntaIner .ghnner-cG~tainerÆdesc-lef~ .Gslmud•descripdion ˚   $wE‚kit-bmx)ovdiÊal-gˆÔu|; 1;" $ -os≠f,e:-o2der* 0
   `npƒdbz 0;
# }
 !&eLyGHt"kx-cgnta)ler‡.gynner9aÔndaAner.fEsc%lmdt0.G3hMhe-image {
 i "	%bjit-bØxmordinalmGfoepz 2ª
"!  -)s-flah=Orde809;
0 b oR|ar: ±;
! =
0 .eslÈtmimIÁu`Èmg {
0   ma¯-heieh4: 97vh;
!0! m©x-Wadth: 015+
 #= `.gsdide-amafa ymgnzÔKmagl! ˚
   °cus{or>"-webkit-zkom5ij{
    CurRov∫ ziom-i.;J †} 4.zooi}$ ./slite-imagE imgzmoiable {  $ cursOr⁄ -we"kit-g2eb:ä%   #urwor+`fzAb;J$ ]
  .gs|ide-ËNlhnm {*$p  max-jeigh:0=5~Ë;
 0=
  .osl)‰m-%xgeR*al0{ !   max≠Xe˘Áht: Ò0∞vh;
 $}  g3ei$d-tes#rKptinØndeÛÚˆiptiÔn≠lefx,
    .gslide-description.description-right {
    max-width: 275px;
  }
  .glightbox-open {
    height: auto;
  }
  .goverlay {
    background: rgba(0, 0, 0, 0.92);
  }
  .glightbox-clean .gslide-media {
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.65);
  }
  .glightbox-clean .description-left .gdesc-inner,
.glightbox-clean .description-right .gdesc-inner {
    position: absolute;
    height: 100%;
    overflow-y: auto;
  }
  .glightbox-clean .gprev,
    .glightbox-clean .gnext,
    .glightbox-clean .gclose {
    background-color: rgba(0, 0, 0, 0.32);
  }
  .glightbox-clean .gprev:hover,
.glightbox-clean .gnext:hover,
.glightbox-clean .gclose:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .glightbox-clean .gprev {
    top: 45%;
  }
  .glightbox-clean .gnext {
    top: 45%;
  }
}

@media (min-width: 992px) {
  .glightbox-clean .gclose {
    opacity: 0.7;
    right: 20px;
  }
}

@media screen and (max-height: 420px) {
  .goverlay {
    background: #000;
  }
}
